$white: #fff;

$grey-dark: #8795a1;
$grey-darkest: #3d4852;

$primary: #6574cd;
$primary-dark: #5661b3;

$secondary: #f6993f;

$error-light: #ef5753;
$error: #e3342f;

$font-family-sans: 'system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif';
$text-weight-bold: 700;
